*{
    margin: 0;
    padding: 0;
}

.Heading{
    text-align: center;
}
.navbar{
    background-color: gainsboro;
    border-radius: 10px;
    margin: 1%;
}
.navbar li{
    display: inline-block;
    padding: 10px;
}
#home{
    float: left;
}
#subPages{
    float: right;
}

#list{
    float: inline-start;
}

.navbar li{
    list-style: none;
}

.navbar li a { 
    text-decoration: none;
    color: black;
}

.img{
    text-align: center;
}

.homebody{
    margin-left: 5%;
    margin-right: 5%;
}


.navbar li:hover{

}

.sponsors{
    
}