.Heading{
    text-align: center;
}
.navbar{

}
.navbar li{
    display: inline-block;
    padding: 10px;
}
#home{
    float: left;
}
#subPages{
    float: right;
}

#list{
    float: inline-start;
}

li{
    list-style: none;
}

.img{
    text-align: center;
}
