*{
    margin: 0;
    padding: 0;
}

.Heading{
    text-align: center;
}
.navbar{
    background-color: gainsboro;
    border-radius: 10px;
    margin: 1%;
}
.navbar li{
    display: inline-block;
    padding: 10px;
}

#subPages{
    float: right;
}

.list{
    float: inline-start;
    margin-left: 1%;
    margin-right: 2%;
    text-align: center;
}
#listright{
    float: right;
}

.navbar li{
    list-style: none;
    margin: 0%;
}

.navbar li a { 
    text-decoration: none;
    color: black;
}

.img{
    text-align: center;
}

.homebody{
    margin-left: 5%;
    margin-right: 5%;
}

.navbar li a p:hover{
    transform: scale(1.1);
    background-color: #72767980;
    border-radius: 20px;
    
}

.navbar li a p{
    transition: 1.5s; 
}

.sponsors{
    list-style: none;
    margin-left: 5%;
    /* color: beige; */
}